<h2>Title</h2>
<h4 class="px-2"><%= note.title %></h4>
<h2>Content</h2>
<textarea id="editor-preview">
  <%= note.content %>
</textarea>
<h2>Comments</h2>

<div>
  <%= form_with model: [note, note_comment] do |f| %>
    <%= f.text_area :comment, rows: "5", class: "form-control w100 mb-1" %>
    <%= f.submit "コメント投稿" %>
  <% end %>
</div>
