<div class="container-fluid">
  <div class="row">
    <div class="col-8 mx-auto text-center">
      <h2><%= @user.name + "さんのユーザー画面" %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="shadow-lg p-1 shadow-lg rounded">
        <%= link_to(edit_admin_user_path(@user.name)) do %>
          <%= image_tag @user.get_image(100, 100), class: "d-block mx-auto border" %>
        <% end %>
        <p class="text-center"><%= @user.name %></p>
        <%= link_to "ユーザー情報を編集する", edit_admin_user_path(@user.name), class: 'btn btn-outline-secondary btn-sm d-block mx-auto' %>
      </div>
    </div>
  </div>
</div>
