<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="shadow-lg p-1 shadow-lg rounded">
        <%= image_tag @user.get_image(100, 100), class: "d-block mx-auto border" %>
        <p class="text-center"><%= @user.name %></p>
        <% if @user == current_user %>
          <%= link_to "ユーザー情報を編集する", settings_profile_users_path, class: "btn btn-outline-secondary btn-sm d-block mx-auto" %>
        <% end %>
      </div>
      <div id="new">
        <%= link_to "New", new_note_path, class: "btn btn-primary", remote: true %>
      </div>
      <ul>
        <li>
          Notes
          <ul>
            <% @notes.each do |note| %>
              <li>
                <%= link_to note.title, note_path(note), remote: true %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>

    <div class="offset-md-1 col-md-8">
      <div id="note"></div>
    </div>
  </div>
</div>
